body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

:root {
    --customColor: rgba(249, 249, 249, 0.5); /* Red color with 50% opacity */
}

.wrapper {
    background-color: var(--customColor);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    border: #000119 solid 3px;
}
.tempSec h1 {
    text-align: center;
}
.tempConverter {
    padding-left: 20%;
    padding-right: 20%;
}
.tempChooser{
    text-align: right;
}
.newTempChooser {
    text-align: left;
}
.enterTempHere {
    padding-right: 50%;
    padding-left: 50%;
    align-items: self-end;
}
.enterTempHere input {
    width: 100%;
}
.buttSec {
    padding-left: 20%;
    padding-right: 20%;
}
.displayTemp p {
    margin-bottom: 0;
    padding: 1%;
}
input, select {
    border: 3px black solid;
}

.tempMenus, .buttSec {
    margin: 5px;
}

:root {
    --color-background: #000119;
    --stroke-width: calc(1em / 16);
    --font-size: 30vmin;
    --font-weight: 700;
    --letter-spacing: calc(1em / 8);
}
h1, input, select, h5 {
    font-family: "Noto Sans JP", sans-serif;
    background-clip: text;
    background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
    color: var(--color-background);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing);
    padding: calc(--stroke-width / 2);
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: var(--stroke-width);
}
p, option {
    font-family: "Noto Sans JP", sans-serif;
    background-clip: text;
    background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
    color: var(--color-background);
    font-size: 19px;
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing);
    padding: calc(--stroke-width / 2);
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: var(--stroke-width);
}


input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}